@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('./blob-scene-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Source Serif Pro', serif;
}

h1 {
    font-family: 'Bree Serif', serif;
    font-size: calc(1rem + 2.4vw);
}

.input-group {
    margin: 1.5vw 0;
}

.card {
    background-color: #fac748;
    border: 1.5px solid black;
    min-height: 60vh;
    width: 100%;
    margin: auto;
    font-size: calc(.6rem + .7vw);
    font-weight: 580;
}

.card-body {
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tasks {
    background-color: #fac748;
    border: none;
    border-bottom: 1px solid rgba(108, 108, 108, 0.465);
}

.tasks:last-child {
    border: none;
}

.close {
    transition: 80ms font-size;
}

.close:hover {
    font-size: 22px;
}

#addBtn {
    transition: 250ms background-color;
}

#addBtn:hover {
    background-color: rgb(54, 54, 54);
}

#input::placeholder {
    font-size: calc(0.5rem + .5vw);
    font-weight: bold;
}

#clrBtn {
    font-size: calc(.6rem + .7vw);
}

#input {
    background-color: #fff3d5;
    border: 1px solid rgb(0, 0, 0);
}

#input:focus {
    border: 1px solid rgb(0, 0, 0);
    /* height: 50px; */
    box-shadow: none;
}